@media (min-width: 991.98px)
{
    #paralelogramo 
    {
        z-index: 3;
        width: 700px; 
        height: 200px;     
        background: #53f;
        -webkit-transform: skewY(-20deg); 
        -moz-transform: skewY(-30deg); 
        -o-transform: skewY(-30deg); 
        position: fixed;
        top: -150px;
        left: 0px;
    }
}
.triangulo 
{
    z-index:100 ; 
	border-top: 0px solid transparent;
	border-left: 500px solid #4553ff;
	border-bottom: 150px solid transparent;
    position: relative;
    top: 25px;
    left: 25%;
    width: 600px;   
}
.triangulo2 
{
    z-index: 0;
   border-top: 300px solid transparent;
   border-right: 700px solid #232323;
   border-bottom: 0px solid transparent;
   position: relative;
   top: 25px;;
   right: -200px;
   width: 600px;   
}
#triangulo3 
{
    z-index: 0;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-top: 100px solid #f0ad4e;
    border-left: 100px solid #f0ad4e;
    border-bottom: 100px solid transparent;
    position: relative;
}
.parallax 
{
    /* The image used */
    background-image: url('img_parallax.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#seccion1
{
    background: linear-gradient(to bottom right, #53f, #25ddf5);
}
nav#navbar_main
{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.centrado_vertical
{
    display: flex;
    justify-content: center;
    align-items: center;
}
